<div class="row">
  <div class="col-md-3 col-md-offset-1 leftCol">
    <div class="row detailImage">
      <img src="{{i}}"/>
    </div>
    <div class="row shareIcons">
    </div>
    <div class="row">
      <div class="col-md-9 businessInfo detailSidebar">
        <p class="businessName"><a href="/business/{{businessId}}">{{businessName}}</a></p>
          <dl>
            <dt>Phone</dt>
            <dd>{{business.contactPhone}}</dd>
            {{#if business.website}}
            <dd><a href="{{business.website}}" target="_blank">Visit Website</a></dd>
            {{/if}}
          </dl>        
      </div>
    </div>        
  </div>
  <div class="col-md-8 rightCol">
    <div class="row">
      <h2>{{name}}</h2>
    </div>
    <div class="details">
      <ul id="eventTag" class="nav nav-tabs">
        <li class="active"><a href="#info" data-toggle="tab">Info</a></li>
      </ul>
      <div id="eventTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="info">
          <div class="row details">
            <div class="col-md-5">
              <dl>
                <dt class="light">Date & Time</dt>
                <dd class="light">{{date}}</dd>
                <dt>Cost / Tickets</dt>
                <dd>{{cost}} {{#if ticketUrl}}- <a href="{{ticketUrl}}">Tickets</a>{{/if}}</dd>
                <dt>Map & Directions</dt>
                <dd>
                  <p>{{location.address}}</p>
                  <div class="map" id="map_{{_id}}" style="height:149px;width:265px"></div>
                </dd>
              </dl>              
            </div>
            <div class="col-md-7">
              <dl>
                <dt>Categories:</dt>
                <dd>{{tags}}</dd>
                <dt>Description</dt>                
                <dd>{{description}}</dd>
                <dt>More Info</dt>
                <dd>
                  <p>{{website}}</p>
                  <p>{{contactName}}</p>
                  <p>{{contactPhone}}</p>
                </dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>