<div class="row">
  <div class="col-md-3 col-md-offset-1 leftCol">
    {{#if i}}
    <div class="row detailImage">
      <img src="{{i}}"/>
    </div>
    {{/if}}
    <div class="row shareIcons">
    </div>
    <div class="row">
      <div class="col-md-9 businessInfo detailSidebar">
        <p class="businessName"><a href="/business/{{businessId}}">{{businessName}}</a></p>
          <dl>
            {{#if showPhone}}
              <dt>Phone</dt>
              <dd>{{business.contactPhone}}</dd>
            {{/if}}
            {{#if business.website}}
              <dt>Website</dt>
              <dd><a href="{{business.website}}" target="_blank">{{business.website}}</a></dd>
            {{/if}}
            {{#if hasSocialMediaLinks}}
              <dt>Social Media</dt>
              <dd class="hasSocialMediaLinks">
              {{#if website}}
                <dt>Website</dt>
                <dd><a href="{{website}}" target="_blank">{{website}}</a></dd>
              {{/if}}
              {{#if facebook}}
                <a href="{{facebook}}" target="_blank"><img src="/client/images/facebook_16.png" /></a>
              {{/if}}
              {{#if twitter}}
                <a href="{{twitter}}" target="_blank"><img src="/client/images/twitter_16.png" /></a>
              {{/if}}
              {{#if foursquare}}
                <a href="{{foursquare}}" target="_blank"><img src="/client/images/foursquare_16.png" /></a>
              {{/if}}                        
              </dd>
            {{/if}}            
          </dl>        
      </div>
    </div>        
  </div>
  <div class="col-md-8 rightCol">
    <div class="row">
      <h2>{{name}}</h2>
    </div>
    <div class="details">
      <ul id="eventTag" class="nav nav-tabs">
        <li class="active"><a href="#info" data-toggle="tab">Info</a></li>
      </ul>
      <div id="eventTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="info">
          <div class="row details">
            <div class="col-md-5">
              <dl>
                <dt>Date & Time</dt>
                {{#if scheduleText}}
                <dd>{{scheduleText}} from {{time}}</dd>
                {{else}}
                <dd>
                {{#each fixed}}
                  <p>{{this}}</p>
                {{/each}}
                </dd>
                {{/if}}
                <dt class="addToCalendar"></dt>
                <dd><button class="btn btn-default" type="button" data-toggle="modal" data-target="#calModal" data-trigger="click">Add to calendar</button></dd>
                <dt>Cost / Tickets</dt>
                <dd>{{cost}} {{#if ticketUrl}}- <a href="{{ticketUrl}}">Tickets</a>{{/if}}</dd>
                <dt>Map & Directions</dt>
                <dd>
                  <p>{{location.address}}</p>
                  <div class="map" id="map_{{_id}}" style="height:149px;width:265px"></div>
                </dd>
              </dl>              
            </div>
            <div class="col-md-7">
              <dl>
                <dt>Categories</dt>
                <dd>{{tags}}</dd>
                <dt>Description</dt>                
                <dd>{{description}}</dd>
                {{#if showMoreInfo}}
                <dt>More Info</dt>
                <dd>
                  <p><a href="{{website}}" target="_blank">{{website}}</a></p>
                  <p>{{contactName}}</p>
                  <p>{{contactPhone}}</p>
                  <p>{{contactEmail}}</p>
                </dd>
                {{/if}}
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade calendarModal"  id="calModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Choose your calendar</h4>
      </div>
      <div class="modal-body">
        <p>Which calendar do you wish to add this event to?</p>
        <select class="calendarSelect select-chosen">
          <option value="ical">iCal &amp; Outlook</option>
          <option value="google">Google Calendar</option>
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-cancel close" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary addToCalendar">Add to calendar</button>
      </div>
    </div>
  </div>
</div>