<div class="thumbnail">
    <div class="imageOrMap">
      <div class="image"><img src="{{i}}" class="img-responsive" /></div>
      <div class="map" id="map_{{_id}}" style="height:124px;width:100%"></div>
    </div>
    <div class="cardHeader">
      <h4><a href="/event/{{_id}}">{{name}}</a></h4>
      </a>
      <div class="location">
        {{#if businessName}}
        <div><a href="/business/{{businessId}}"><i class="glyphicon glyphicon-map-marker"></i>{{businessName}}</a></div>
        {{/if}}
      </div>
      <div class="card-calendar">
        <div class="row padding10">
            <span class="date">{{nextOccurrence}}</span><span class="time" style="padding-left: 7px;"><i class="glyphicon glyphicon-time"></i> {{time}}</span>
            <br />
            <div class="additionalDates">
              {{#if isRecurring}}
              <i class="glyphicon glyphicon-plus"></i> <a data-toggle="popover" class="dates-popover"><i class="icon-plus"></i>Additional Dates</a>
              {{/if}}
            </div>
        </div>
      </div>
  </div>
</div>