<div class="thumbnail">
    <div class="imageOrMap">
      <div class="image"><img src="{{i}}" /></div>
      <div class="map" id="map_{{_id}}" style="height:150px;100%"></div>
    </div>
    <div class="cardHeader">
      <h4><a href="/event/{{_id}}">{{name}}</a></h4>
      </a>
      <div class="location">
        {{#if businessName}}
        <div><a href="/business/{{businessId}}"><i class="glyphicon glyphicon-map-marker"></i>{{businessName}}</a></div>
        {{/if}}
      </div>
      <div class="card-calendar">
        <div class="row">
            <span class="date">Thu Sep 19</span><span class="time" style="padding-left: 10px;"><i class="glyphicon glyphicon-time"></i> 9:00 AM- 1:30 PM</span>
            <br />
            <span class="additionalDates">
              <i class="glyphicon glyphicon-plus"></i> <a href="#" data-toggle="popover" class="dates-popover" data-placement="bottom" data-content="Every week on  Monday - Friday  from  9:00 AM to 1:30 PM" data-original-title="Additional Dates" data-trigger="hover"><i class="icon-plus"></i>Additional Dates</a>
            </span>
        </div>
      </div>
  </div>
</div>