<div class="thumbnail">
  <div class="imageOrMap">
    <div class="image"><img src="{{i}}" /></div>
    <div class="map" id="map_{{_id}}" style="height:150px;width:266px"></div>
  <a href="/event/{{_id}}">{{name}}</a>
  {{#if businessName}}
  <div><a class="glyphicon glyphicon-map-marker" href="/business/{{businessId}}">{{businessName}}</a></div>
  {{/if}}
</div>